@charset "utf-8";

@import url(common.css);

.bullet {
    display: none;
}


/* 헤더 */

header {
    width: 100%;
    padding: 0 5%;
}

#menuplus {
    display: none;
}

nav>h1>a {
    display: inline-block;
    width: 180px;
    height: 60px;
    background: url(../images/logo.png) no-repeat 0 0;
    background-size: 180px;
    position: absolute;
    z-index: 200;
}


nav {
    width: 100%;
    position: relative;
    z-index: 100;
}

.mainmenu {
    float: right;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.mainmenu>li {
    width: 20%;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.sub {
    min-width: 60px;
}

.mainmenu>li>a {
    display: inline-block;
    width: 100%;
    text-shadow: 0 0 3px #000;
    border-bottom: 5px solid rgba(225,225,225,0);
}

.sub_hover {
    border-bottom: 5px solid #ef8031 !important;
}


.mainmenu>li>ul>li>a {
    color: #727071;
    font-size: 0.8em;
}

.mainmenu>li>ul>li>a:hover {
    color: #ef8031;
}

.submenu {
    position: absolute;
    top: 50px;
    width: 40%;
    height: 180px;
    box-sizing: border-box;
    float: left;
}

.mypage {
    width: 100%;
    height: 70px;
    margin-right: 5%;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.mypage>li {
    width: 49%;
    min-width: 90px;
}

.mypage>li>a {
    display: block;
    font-size: 0.9em;
    line-height: 40px;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #727071;
    box-sizing: border-box;
    text-align: center;
}

.mypage>li:last-child {
    margin-left: 10px;
}

.weather {
    float: left;
    display: block;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.weather>li {
    border: 1px solid #727071;
    box-sizing: border-box;
    background-color: #fff;
    width: 49%;
    min-width: 90px;
    padding: 3px 5px;
    text-align: center;
}

.weather>li:last-child {
    margin-left: 10px;
}

.weather span {
    display: inline-block;
    font-size: 0.7em;
}

.menu_cover {
    width: 100%;
    height: 250px;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}





/* 슬라이드 */

.slide_cover {
    position: relative;
    width: 100%;
    height: 580px;
    overflow: hidden;
}

.search {
    position: absolute;
    top: 250px;
}

.slide_cover>ul {
    top: -50px;
}

.search>form {
    width: 450px;
    height: 45px;
}

.search>form>input {
    width: 400px;
    height: 45px;
}

.search>form>div {
    width: 50px;
    height: 45px;
}

.slide_cover>ul {
    font-size: 1.2em;
}

.slide_cover>ul>li {
    display: inline-block;
    margin: 0 3px;
}

.slide_cover>ul>span {
    display: inline-block;
    color: #fff;
}

.slide_cover>div:nth-child(1) {
    background: url(../images/slide/slide1.jpg) no-repeat content-box center;
    background-size: 150%;
}

.slide_cover>div:nth-child(2) {
    background: url(../images/slide/slide2.jpg) no-repeat content-box center;
    background-size: 150%;
}

.slide_cover>div:nth-child(3) {
    background: url(../images/slide/slide3.jpg) no-repeat content-box center;
    background-size: 150%;
}

.slide_cover>div:nth-child(4) {
    background: url(../images/slide/slide4.jpg) no-repeat content-box center;
    background-size: 150%;
}


/* 추천 테마여행 */


#theme>h2 {
    font-size: 2em;
}


/* 기간별 , 일행별 공통 레이아웃 */

.tab_hidden {
    display: none;
}

.day_cover>ul>li>ul>li:last-child {
    display: none;
}

.who_cover>ul>li>ul {
    display: none;
}

.add_btn {
    display: none;
}

.day>div:nth-child(2), .who>div:nth-child(2)  {
    width: 80%;
}

.theme_prev, .theme_next {
    width: 45px;
    height: 45px;
    font-size: 2em;
    line-height: 45px;
    top: 125px;
}

.day_cover, .who_cover {
    height: 300px;
    overflow: hidden;
    position: relative;
}

.theme_prev {
    left: -23px;
}

.theme_next {
    right: -23px;
}


.day_cover>ul, .who_cover>ul {
    width: 600%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.day_cover>ul>li, .who_cover>ul>li {
    width: 16.666%;
    height: 300px;
    padding: 0.5%;
    display: flex;
}


.day_cover>ul>li>div:first-child, .who_cover>ul>li>div:first-child {
    width: 49%;
    height: 99%;
    margin-right: 3%;
}

.day_cover>ul>li>div:nth-child(2), .who_cover>ul>li>div:nth-child(2) {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 47%;
    font-size: 1.3em;
    margin-top: 10px;
}

.day_cover>ul>li>div:nth-child(2)>div, .who_cover>ul>li>div:nth-child(2)>div {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.day_cover>ul>li>div:nth-child(2)>ul, .who_cover>ul>li>div:nth-child(2)>ul {
    width: 100%;
    font-size: 0.8em;
    position: relative;
    margin-bottom: 10px;
    line-height: 1.5em;
}

.day_cover>ul>li>div:nth-child(2)>ul>li:first-child, .who_cover>ul>li>div:nth-child(2)>ul>li:first-child {
    margin-right: 20px;
}


.day_cover>ul>li>div:nth-child(2)>p, .hwo_cover>ul>li>div:nth-child(2)>p {
    width: 100%;
    font-size: 0.9em;
    line-height: 1.5em;
    text-align: justify;
}

.day_cover>ul>li>div:nth-child(2)>a, .who_cover>ul>li>div:nth-child(2)>a {
    display: inline-block;
    position: absolute;
    bottom: 3px;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 27px;
    color: #3f75b6;
    font-size: 0.8em;
    border: 2px solid #3f75b6;
}

.day_cover>ul>li>div:nth-child(2)>a:hover, .who_cover>ul>li>div:nth-child(2)>a:hover {
    background-color: #ef8031;
    color: #fff;
    border: 2px solid #ef8031;
}


.desktop_hidden {
    line-height: 1.3em;
}

.day, .who  {
    height: 350px;
}


/* 기간별 */

.day_cover>ul>li:nth-child(1)>div:first-child{
    background: url(../images/theme/day1_tab.png) no-repeat center center;
    background-size: 100%;
}

.day_cover>ul>li:nth-child(2)>div:first-child{
    background: url(../images/theme/day2_tab.png) no-repeat center center;
    background-size: 100%;
}

.day_cover>ul>li:nth-child(3)>div:first-child{
    background: url(../images/theme/day3_tab.png) no-repeat center center;
    background-size: 100%;
}

.day_cover>ul>li:nth-child(4)>div:first-child{
    background: url(../images/theme/day4_tab.png) no-repeat center center;
    background-size: 100%;
}

.day_cover>ul>li:nth-child(5)>div:first-child{
    background: url(../images/theme/day5_tab.png) no-repeat center center;
    background-size: 100%;
}

.day_cover>ul>li:nth-child(6)>div:first-child{
    background: url(../images/theme/day6_tab.png) no-repeat center center;
    background-size: 100%;
}



/* 일행별 */

.who {
    margin-top: 50px;
}


.who_cover>ul>li:nth-child(1)>div:first-child {
    background: url(../images/theme/who1_tab.png) no-repeat center center;
    background-size: 100%;
}

.who_cover>ul>li:nth-child(2)>div:first-child {
    background: url(../images/theme/who2_tab.png) no-repeat center center;
    background-size: 100%;
}

.who_cover>ul>li:nth-child(3)>div:first-child {
    background: url(../images/theme/who3_tab.png) no-repeat center center;
    background-size: 100%;
}

.who_cover>ul>li:nth-child(4)>div:first-child {
    background: url(../images/theme/who4_tab.png) no-repeat center center;
    background-size: 100%;
}

.who_cover>ul>li:nth-child(5)>div:first-child {
    background: url(../images/theme/who5_tab.png) no-repeat center center;
    background-size: 100%;
}

.who_cover>ul>li:nth-child(6)>div:first-child {
    background: url(../images/theme/who6_tab.png) no-repeat center center;
    background-size: 100%;
}


/* 배경 */

.theme_bg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #3f75b6;
    background-image: url(../images/white_topbg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -1;
    top: -100px;
    background-size: 100% 70px;
}


/* 멋과맛 */


.place_prev, .place_next {
    top: 130px;
}

.placeimg>div:nth-child(1), .placeimg>div:nth-child(2), .placeimg>div:nth-child(3), .placeimg>div:nth-child(4) {
    background-size: 200%;
}


#point {
    margin-top: 200px;
}

/* 맛 */

.foods {
    padding: 0 5%;
}

.foods_text {
    position: relative;
    margin-left: 5%;
    width: 50%;
    text-align: left;
    z-index: 10;
}

.foods_text>ul {
    width: 100%;
    min-width: 270px;
    height: 50px;
}

.foods_text>ul>li {
    float: left;
    height: 50px;
}

.foods_text>ul>li>h3 {
    font-size: 2em;
    color: #000;
}

.foods_prev, .foods_next {
    font-size: 2em;
    color: #000;
    line-height: 35px;
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.foods_prev:hover, .foods_next:hover {
    color: #ef8031;
}

.foods_text>div {
    width: 100%;
    min-width: 270px;
    padding: 30px 25px;
    border-radius: 30px 0 30px 30px;
    line-height: 1.5em;
    background-color: #fff;
    box-shadow: 0 0 10px #727071;
}

.foods_text>div>p>a {
    display: block;
    margin-top: 20px;
    width: 125px;
    height: 30px;
    /* border-radius: 15px; */
    border: 1px solid #727071;
    text-align: center;
    line-height: 30px;
}

.foods_text>div>p>a:hover {
    background-color: #ef8031;
    color: #fff;
    border: 0;
}

.foods_cover {
    position: absolute;
    right: 0;
    top: -300px;
    width: 55%;
    height: 600px;
    min-width: 730px;
    overflow: hidden;
}

.foods_cover>div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 20%;
}

.foods_cover>div:nth-child(1) {
    background: url(../images/foods/foods1.png) no-repeat 0 0;
    background-size: 100%;
}


.foods_cover>div:nth-child(2) {
    background: url(../images/foods/foods2.png) no-repeat 0 0;
    background-size: 100%;
}

.foods_cover>div:nth-child(3) {
    background: url(../images/foods/foods3.png) no-repeat 0 0;
    background-size: 100%;
}

.foods_cover>div:nth-child(4) {
    background: url(../images/foods/foods4.png) no-repeat 0 0;
    background-size: 100%;
}

.foods_cover>div:nth-child(5) {
    background: url(../images/foods/foods5.png) no-repeat 0 0;
    background-size: 100%;
}

/* 콘텐츠 */

#contents {
    width: 100%;
    position: relative;
    height: 780px;
    margin-top: 100px;
}


#contents>div:nth-child(1) {
    padding: 0 5%;
    display: flex;
    flex-flow:wrap;
    margin-bottom: 50px;
}

.movie {
    width: 100%;
    height: 400px;
    background-color: #ddd;
    margin-bottom: 20px;
}

.banner_cover {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    overflow: hidden;
}

.banner {
    width: 1200px;
    height: 300px;
}

.banner>li {
    float: left;
}

.banner>li>a {
    display: inline-block;
    width: 300px;
    height: 300px;
}


#contents>div:first-child>ul {
    flex-grow: 1;
    width: 100px;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

#contents>div:first-child>ul>li {
    float: left;
    width: 49%;
    min-width: 40px;
    height: 95px;
}

#contents>div:first-child>ul>li:nth-child(3), #contents>div:first-child>ul>li:nth-child(4) {
    margin: 7px 0;
}

#contents>div:first-child>ul>li>a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
}


#contents>div:first-child>ul>li>a>div {
    width: 60px;
    height: 60px;
    margin: 5px auto;
}

#content1, #content2, #content3, #content4, #content5, #content6 {
    background-size: 80%;
}

#contents>div>ul>li>a:hover #content1 {
    background-size: 80%;
}

#contents>div>ul>li>a:hover #content2 {
    background-size: 80%;
}

#contents>div>ul>li>a:hover #content3 {
    background-size: 80%;
}

#contents>div>ul>li>a:hover #content4 {
    background-size: 80%;
}

#contents>div>ul>li>a:hover #content5 {
    background-size: 80%;
}

#contents>div>ul>li>a:hover #content6 {
    background-size: 80%;
}

.notice>ul {
    padding: 0 5%;
}

.content_bg {
    background-size: 100% 70px;
    height: 700px;
}



/* 풋터 */

footer {
    width: 100%;
    /* height: 260px; */
    padding: 60px 5% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
}

footer>h2 {
    width: 180px;
}

footer>h2>img {
    width: 160px;
}

footer>div:nth-child(2) {
   flex-grow: 1;
   margin-bottom: 30px;
}

.bottom_menu {
    margin-bottom: 10px;
}

.bottom_menu>li {
    display: inline;
}

.bottom_menu>li>a {
    margin-right: 10px;
}

footer>div>p {
    font-size: 0.9em;
    line-height: 1.3em;
}

footer>div>p:last-child {
    margin-top: 10px;
}

.bottom_menu>li>a:hover {
    color: #ef8031;
}


.app {
    width: 132px;
    height: 180px;
    text-align: center;
}

.app>p {
    width: 100%;
}

.app>ul {
    width: 100%;
    padding-top: 10px;
    display: flex;
}

.app>ul>li {
    margin-top: 5px;
    text-align: center;
    font-size: 0.8em;
}

.app>ul>li:nth-child(1) {
    margin-right: 10px;
}

.app>ul>li>a>img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}
